In [2]:
import pandas as pd

In [3]:
# gen_sc = pd.read_csv('./genome-scores.csv')
df_tag = pd.read_csv('./tags.csv')
df_rating = pd.read_csv('./ratings.csv')

In [4]:
df_tag = df_tag.drop('timestamp', axis = 1)

In [14]:
df_tag = df_tag.drop('userId', axis = 1)

In [5]:
df_rating =df_rating.drop('timestamp', axis = 1)

In [12]:
df_rating =df_rating.drop('userId', axis = 1)

In [6]:
df_rating

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[25000095 rows x 3 columns]

In [7]:
df_tag

         userId  movieId                  tag
0             3      260              classic
1             3      260               sci-fi
2             4     1732          dark comedy
3             4     1732       great dialogue
4             4     7569     so bad it's good
...         ...      ...                  ...
1093355  162521    66934  Neil Patrick Harris
1093356  162521   103341     cornetto trilogy
1093357  162534   189169               comedy
1093358  162534   189169             disabled
1093359  162534   189169              robbery

[1093360 rows x 3 columns]

In [12]:
df_tr = pd.merge(df_tag,df_rating, how = 'inner')
df_tr

        userId  movieId                  tag  rating
0            3      260              classic     4.0
1            3      260               sci-fi     4.0
2            4     1732          dark comedy     4.5
3            4     1732       great dialogue     4.5
4            4     7569     so bad it's good     3.5
...        ...      ...                  ...     ...
834726  162521    66934  Neil Patrick Harris     4.5
834727  162521   103341     cornetto trilogy     4.5
834728  162534   189169               comedy     2.5
834729  162534   189169             disabled     2.5
834730  162534   189169              robbery     2.5

[834731 rows x 4 columns]

In [41]:
# .agg('count').reset_index()
df_tr1 = df_tr.groupby(['tag'])['rating'].mean()
df_tr1

tag
 Alexander Skarsgård    3.0
 Kartik Aaryan          4.5
 Kriti Sanon            4.5
 Laurel Canyon          4.0
 Luis Brandoni          4.0
                       ...
徐克                      4.0
惊悚                      4.0
扭曲                      5.0
独闯龙潭                    2.5
魔鬼司令                    2.5
Name: rating, Length: 57650, dtype: float64

In [42]:
# df_tr2=  pd.DataFrame(df_tr1)
# df_tr2.sort_values(ascending=True)
df_tr1.sort_values(ascending=False)[:50]

tag
sick obsession                                                                                                  5.0
Transformation of character                                                                                     5.0
Truthfull                                                                                                       5.0
syphilis                                                                                                        5.0
Classicscifi                                                                                                    5.0
prince abubu                                                                                                    5.0
guerilla                                                                                                        5.0
Truth                                                                                                           5.0
barbara stanwyck                                                                                                5.0
Classic. Enduring. Ever fresh.                                                                                  5.0
Classic!                                                                                                        5.0
Classic villain                                                                                                 5.0
Joe Turkel                                                                                                      5.0
ru                                                                                                              5.0
Classic Romance                                                                                                 5.0
mod fashion                                                                                                     5.0
Classic Movie                                                                                                   5.0
dark romance                                                                                                    5.0
guaraníes                                                                                                       5.0
Classic Children's Adventure                                                                                    5.0
jakarta indonesia                                                                                               5.0
roy scheider                                                                                                    5.0
north dakota                                                                                                    5.0
egocentrism                                                                                                     5.0
Turnabout                                                                                                       5.0
very artistic                                                                                                   5.0
Joan Plowright                                                                                                  5.0
bangkok                                                                                                         5.0
Tuvan throat singing                                                                                            5.0
rough life                                                                                                      5.0
Clermont-Ferrand                                                                                                5.0
Tuula Nyman                                                                                                     5.0
jackson                                                                                                         5.0
Cleavon Little                                                                                                  5.0
very emotional true story. very eye opening.                                                                    5.0
rough start                                                                                                     5.0
Clean Comedy                                                                                                    5.0
t&a                                                                                                             5.0
efter seneste sening vil jeg sige, at 5 er gavmildt, tænkte lidt i en halv stjerne mindre, men what the hell    5.0
bankchiiting                                                                                                    5.0
Jodie foster                                                                                                    5.0
Jody Foster                                                                                                     5.0
jail break                                                                                                      5.0
Classic Boy likes Boy story.                                                                                    5.0
True                                                                                                            5.0
Trucks                                                                                                          5.0
dark and wonderful                                                                                              5.0
james cromwell                                                                                                  5.0
sylvester stallone                                                                                              5.0
modern China                                                                                                    5.0
Name: rating, dtype: float64

In [16]:
df_tr.isnull().sum()

userId     0
movieId    0
tag        1
rating     0
dtype: int64

In [62]:
df_tr1 = df_tr.dropna(axis = 0)

In [ ]:
df_tag.columns = ('tag', )